# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Popular Languages in Data Science
- List Commonly Used Libriries in Data Science
- Create A Table for Open-Source Data Science Tools
- Evaluate Arithemetic Expressions in Python : Multiplication
- Evaluate Arithemetic Expressions in Python : Division

Some of the popular languages that Data Scientists use are:

1. R Language
2. SQL
3. Python
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. TensorFlow

| Data Science Tools |
| ------ |
| MySQL| 
|Apache Airflow | 
| Pixie Dust | 
| Mongo DB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
round (200 / 60)

3

## Author
Amy D. Davis